<main>
  <section class="section-banner">
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="Banner inicial, mostra 3 símbolos de joysticks (em neon),  que podem ser usados para jogar, com um fundo texturizado em tijolos , predominantemente azul">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="foto de um homem jogando em um computador gamer usando fones de ouvido">
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="túnel tridimensional triangular com a tonalidade de azul misturado com roxo">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <h2>Jogos em Promoção</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/game1.png" alt="Kratos empunhando suas lâminas do caos diante de um cenário épico de destruição e deuses em God of War 2.">
        <mat-card-header>
          <mat-card-title>God Of War 2</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Embarque em uma jornada mitológica de vingança como Kratos, o deus da guerra, em God of War 2, com combates épicos e quebra-cabeças desafiadores.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 120,90</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/game2.png" alt="Um mundo de blocos coloridos, com paisagens variadas e personagens criativos em Minecraft.">
        <mat-card-header>
          <mat-card-title>Minecraft</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Explore, construa e sobreviva em um mundo de blocos em Minecraft, onde a criatividade é ilimitada.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 299,90</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/game3.png" alt="O protagonista empunhando sua arma em um cenário distópico com um fundo amarelo neon em Cyberpunk 2077.">
        <mat-card-header>
          <mat-card-title>Cyberpunk 2077</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mergulhe em um futuro distópico em Cyberpunk 2077, uma história de ação e escolhas em uma cidade tecnológica.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 350,90</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</main>